option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "ebpipeline.settings"
    "PYTHONPATH": "/opt/python/current/app/ebpipeline:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: ebpipeline/ebpipeline/wsgi.py
    NumProcesses: 3
    NumThreads: 20